<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Select_Masechet"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.shinantam"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.shinantam"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CongratulationsActivity"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- ווידג'ט גדול -->
        <receiver
            android:name=".WidgetProvider"
            android:exported="true"
            android:label="@string/widget_full_description">
            <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/hebrew_widget_info" />
        </receiver>
        <activity
            android:name=".WidgetConfigActivity"
        android:exported="true"
        android:theme="@style/Widget.Configure.Dialog.Theme">
        <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> </intent-filter>
    </activity>

    <!-- ווידג'ט קטן -->
    <receiver
        android:name=".WidgetCompactProvider"
        android:exported="true"
        android:label="@string/widget_compact_description">
        <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter>
        <meta-data android:name="android.appwidget.provider" android:resource="@xml/compact_widget_info" />
    </receiver>
    <activity
        android:name=".WidgetCompactConfigActivity"
    android:exported="true"
    android:theme="@style/Theme.AppCompat.Dialog">
    <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/> </intent-filter>
</activity>
    </application>
</manifest>